:root {
  --red: #e82525;
  --black: #010101;
  --gray: #e6e6e6;
  --text: #888888;
}

@font-face {
  font-family: a2_regular;
  src: url("./assets/fonts/a2_regular.ttf");
}
@font-face {
  font-family: a2_medium;
  src: url("./assets/fonts/a2_medium.ttf");
}
@font-face {
  font-family: a2_bold;
  src: url("./assets/fonts/a2_black.ttf");
}
@font-face {
  font-family: a2_cond_bold;
  src: url("./assets/fonts/a2_cond_bold.ttf");
}
@font-face {
  font-family: a2_extra_cond_bold;
  src: url("./assets/fonts/a2_cond_extra.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: a2_regular;
  box-sizing: border-box;
  text-transform: uppercase;
}

.heading {
  font-family: a2_cond_bold;
  font-size: 4vw;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: -1px;
}

section {
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

nav {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);

  .logo {
    font-family: a2_cond_bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: var(--red);
    font-style: italic;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.8vw;
    a {
      text-decoration: none;
      text-transform: uppercase;
      /* font-family: a2_medium; */
      color: var(--black);
      font-size: 1vw;
    }
  }

  .search {
    background-color: var(--gray);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    padding: 8px;

    > input {
      border: none;
      font-size: 14px;
      background-color: transparent;
      text-transform: uppercase;
      width: 250px;

      outline: none;
    }
  }

  .search::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all ease 0.3s;
  }
  .search:hover::after {
    bottom: 0;
  }

  .search:hover input {
    position: relative;
    z-index: 10;
    color: white;
  }

  .icons {
    display: flex;
    gap: 15px;

    .icon {
      width: 42px;
      height: 42px;
      background-color: var(--gray);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .text-container {
    width: 100%;
    margin-top: 60px;

    > h1 {
      font-family: a2_extra_cond_bold;
      font-size: 15.8vw;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      line-height: 12vw;
    }
  }

  .image-container {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 4px;
    /* overflow: hidden; */
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.247);

      padding: 20px;

      > .product {
        width: 400px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 12px;
        overflow: hidden;

        .heading-row {
          display: flex;
          gap: 4px;

          .price {
            font-size: 18px;
          }
        }

        .head-text {
          > h2 {
            text-transform: uppercase;
            font-family: a2_cond_bold;
            color: var(--black);
          }

          > p {
            color: var(--text);
            text-transform: capitalize;
          }
        }

        > img {
          width: 80%;
          margin: 0 auto;
        }

        .bottom-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > span {
            border: 1px solid var(--text);
            padding: 8px 12px;
            border-radius: 30px;
            color: var(--text);
            text-transform: uppercase;
          }

          > a {
            text-decoration: none;
            color: var(--text);
            text-transform: uppercase;
          }
        }
        .btns {
          width: 100%;
          height: 120px;
          background-color: rgb(255, 255, 255);
          position: absolute;
          left: 0;
          bottom: -40%;
          transition: all ease 0.3s;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 12px;
          align-items: center;
          gap: 0.8vw;
          a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--text);
          }

          > a:nth-child(1) {
            height: 45px;
            background-color: var(--red);
            color: white;
            border-radius: 4px;
          }

          a:nth-child(2) {
            height: 45px;
            background-color: var(--gray);
            border-radius: 20px;
          }
        }
      }

      .product:hover {
        .btns {
          bottom: 0;
        }
      }
    }
  }
}

.products {
  width: 100%;
  height: auto;

  > .row {
    width: 100%;
    height: 68vh;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: top;

    > .img-container {
      width: 25%;
      height: 100%;
      transition: all ease 0.3s;
      position: relative;
      cursor: pointer;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.521);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .title-row {
        display: flex;
        align-items: center;
        gap: 5px;
        > i {
          font-size: 1vw;
          font-weight: 600;
        }
        p {
          font-size: 1.2vw;
          font-family: a2_cond_bold;
          text-transform: uppercase;
        }
      }
    }

    .img-container:hover {
      width: 35%;
    }
  }

  > .row:hover {
    > .img-container {
      .overlay {
        opacity: 100;
      }
    }

    .img-container:hover {
      width: 35%;

      > .overlay {
        opacity: 0;
      }
    }
  }
}

.best-sellers {
  width: 100%;
  height: 100vh;

  > .title-row {
    display: flex;
    align-items: center;
    gap: 2vw;

    .filters {
      display: flex;
      gap: 0.5vw;

      > button {
        min-width: 60px;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid var(--black);
        font-size: 16px;
        background-color: transparent;
        font-weight: 600;
        color: var(--black);
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }

      .active {
        background-color: var(--black);
        color: white;
      }

      > button::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--black);
        position: absolute;
        left: 0;
        bottom: -100%;
        transition: all ease 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button:nth-child(1)::after {
        content: "Sale";
      }

      button:nth-child(2)::after {
        content: "New";
      }

      button:nth-child(3)::after {
        content: "In Stock";
      }

      > .not-active:hover::after {
        bottom: 0;
        color: white;
      }

      .active:hover {
        background-color: var(--black);
        color: white;
      }
    }
  }

  > .products {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    margin: 20px 0;
    overflow: hidden;

    > .product {
      min-width: 27%;
      height: 100%;
      border-top: 1px solid var(--black);
      border-right: 1px solid var(--black);
      padding: 20px;
      position: relative;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      .pr-heading {
        display: flex;
        justify-content: space-between;
        align-items: top;

        > .name {
          > h3 {
            font-family: a2_cond_bold;
            font-size: 1.2vw;
          }

          span {
            color: var(--text);
            text-transform: capitalize;
          }
        }
      }

      > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .bottom-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > a {
          text-decoration: none;
          color: var(--text);
          font-size: 14px;
        }

        span {
          border: 1px solid var(--black);
          width: 60px;
          text-align: center;
          padding: 4px 8px;
          border-radius: 15px;
          font-size: 14px;
        }
      }
    }

    .hover-pr {
      width: 100%;
      height: 15%;
      background-color: white;
      position: absolute;
      bottom: -15%;
      left: 0;
      transition: all ease 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      > a {
        width: 100%;
        padding: 10px;
        background-color: var(--red);
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 4px;
      }
    }

    .product:hover {
      .hover-pr {
        bottom: 0;
      }
    }

    .hover-pr:hover {
      bottom: 0;
    }

    > .product:nth-last-child(1) {
      border-right: none;
    }
  }
}

.page4 {
  padding: 0;
  width: 100%;
  height: 180vh;
  background-image: url("./assets/images/page4bg.webp");
  background-position: center;
  background-size: cover;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 200px 20px;
    position: relative;

    .bar {
      width: 100%;
      height: 40px;
      background-color: white;
      border-radius: 4px;
    }

    .text-container {
      width: 90%;
      margin: 100px auto;
      p {
        color: white;
        font-size: 17vw;
        font-family: a2_cond_bold;
        line-height: 13vw;
      }

      p:nth-child(1) {
        text-align: center;
      }

      p:nth-child(2) {
        text-align: left;
      }

      p:nth-child(3) {
        text-align: right;
      }
    }

    .small {
      color: white;
      font-size: 12px;
      text-align: justify;
      position: absolute;
    }

    .first {
      top: 33%;
      right: 22%;
    }

    .sec {
      top: 40%;
      right: 2%;
    }

    .third {
      top: 60%;
      left: 2%;
    }

    .med {
      width: 12.5%;
      text-transform: capitalize;
      color: white;
      position: absolute;
      top: 80%;
      left: 2%;
      font-weight: 500;
    }

    ul {
      position: absolute;
      top: 75%;
      right: 2%;
      width: 50%;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        border-top: 1px solid white;
        p {
          color: white;

          font-size: 1.2vw;
          font-family: a2_cond_bold;
        }

        p:nth-child(1) {
          width: 15%;
          border-right: 1px solid white;
          margin-bottom: 20px;
        }

        p:nth-child(2) {
          width: 85%;
          padding-left: 20%;
        }
      }
    }
  }
}

.page5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .explore {
    width: 49.5%;
    height: 80vh;
    border-radius: 8px;

    .e-text {
      margin-bottom: 20px;
      height: 12%;
      .heading {
        font-size: 1.6vw;
        line-height: 1.6vw;
      }

      span {
        color: var(--text);
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 5px;
        display: inline-block;
      }
    }

    .image-container {
      width: 100%;
      height: 90%;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      > img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      .btn {
        position: absolute;
        bottom: 3%;
        left: 3%;
      }

      a {
        width: 210px;
        padding: 14px;
        display: flex;
        align-items: center;
        color: var(--black);
        background-color: white;
        text-decoration: none;
        gap: 5px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
      }

      a::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--red);
        position: absolute;
        left: 0;
        bottom: -100%;
        transition: all ease 0.3s;
      }
    }

    .image-container:hover {
      a::after {
        bottom: 0;
        border-radius: 4px;
      }

      a {
        span,
        i {
          position: relative;
          z-index: 10;
          color: white;
        }
      }
    }
  }
}

.page7 {
  width: 100%;
  height: 180vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  > .grid-box {
    width: 55%;
    height: 70%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: rgba(0, 0, 0, 0.082);
    overflow: hidden;
    position: relative;

    > .grid-cell {
      border: 1px solid rgba(0, 0, 0, 0.082);
      border-radius: 4px;
      background-color: white;
    }

    .image-container {
      width: 80%;
      height: 90%;
      background-color: red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .left-text-container {
    position: absolute;
    top: 30px;
    left: 30px;

    > .heading {
      line-height: 8vw;
      font-size: 10vw;
    }
  }

  .sec {
    top: 40%;
    right: 30px;
    text-align: right;
  }

  .bar {
    height: 35px;
    background-color: var(--black);
    border-radius: 4px;
    position: absolute;
    top: 70%;
    left: 30px;
    right: 30px;
  }

  h3 {
    font-size: 2vw;
    font-family: a2_cond_bold;
    line-height: 1.8vw;
    position: absolute;
    left: 30px;
    top: 75%;
  }

  .b-row {
    height: 25vh;
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    border-bottom: 1px solid var(--black);
    display: flex;
    margin-bottom: 30px;

    .col {
      flex-basis: 50%;
    }

    .col:nth-child(1) {
      border-right: none;
      display: flex;
      flex-direction: column;
      justify-content: end;
      border-right: 1px solid var(--black);

      p {
        text-align: left;
        width: 40%;
        text-transform: capitalize;
        margin-bottom: 15px;
      }
    }

    .col:nth-child(2) {
      border-right: none;
      padding: 15px;
      display: flex;
      gap: 1vw;
      > img {
        width: 40%;
        height: 100%;
        background-color: var(--gray);
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
      }

      h2 {
        font-family: a2_cond_bold;
      }

      .col-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          text-decoration: none;
          background-color: var(--red);
          padding: 12px;
          color: white;
          text-align: center;
          border-radius: 4px;
        }
      }
    }
  }
}

.page9 {
  width: 100%;
  height: 170vh;
  background-color: var(--black);
  position: relative;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;

  > .page9-content {
    width: 100%;
    height: 100%;
    position: relative;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .grid-container {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      .grid-cell {
        border: 1px solid rgb(20, 20, 20);
        border-radius: 4px;
        background-color: black;
        transition: all ease 0.3s;
      }

      .grid-cell:hover {
        background-color: rgba(0, 0, 0, 0.712);
        transition: all ease 0.3s;
      }
    }
  }

  .text-container {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;

    > h1 {
      color: white;
      font-size: 10.2vw;
      font-family: a2_cond_bold;
      line-height: 9vw;

      > span {

   
        width: 300px;
        height: 180px;
        display: inline-block;
       
        overflow: hidden;
        > img {
          border-radius: 4px;
          margin-top: 10px;
          margin-left: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
