:root {
  --red: #e82525;
  --black: #010101;
  --gray: #e6e6e6;
  --text: #888888;
}

@font-face {
  font-family: a2_regular;
  src: url("./assets/fonts/a2_regular.ttf");
}
@font-face {
  font-family: a2_medium;
  src: url("./assets/fonts/a2_medium.ttf");
}
@font-face {
  font-family: a2_bold;
  src: url("./assets/fonts/a2_black.ttf");
}
@font-face {
  font-family: a2_cond_bold;
  src: url("./assets/fonts/a2_cond_bold.ttf");
}
@font-face {
  font-family: a2_extra_cond_bold;
  src: url("./assets/fonts/a2_cond_extra.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: a2_regular;
  box-sizing: border-box;
}

.heading {
  font-family: a2_cond_bold;
  font-size: 4vw;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: -1px;
}

section {
  padding: 30px;
}

nav {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);

  .logo {
    font-family: a2_cond_bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: var(--red);
    font-style: italic;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.8vw;
    a {
      text-decoration: none;
      text-transform: uppercase;
      /* font-family: a2_medium; */
      color: var(--black);
      font-size: 1vw;
    }
  }

  .search {
    background-color: var(--gray);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    padding: 8px;

    > input {
      border: none;
      font-size: 14px;
      background-color: transparent;
      text-transform: uppercase;
      width: 250px;

      outline: none;
    }
  }

  .search::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all ease 0.3s;
  }
  .search:hover::after {
    bottom: 0;
  }
  .search::placeholder {
    position: relative;
    z-index: 10;
  }
  .search:hover input::placeholder {
    color: white;
  }

  .icons {
    display: flex;
    gap: 15px;

    .icon {
      width: 42px;
      height: 42px;
      background-color: var(--gray);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .text-container {
    width: 100%;
    margin-top: 60px;

    > h1 {
      font-family: a2_extra_cond_bold;
      font-size: 15.8vw;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      line-height: 12vw;
    }
  }

  .image-container {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 4px;
    /* overflow: hidden; */
    z-index: 1;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.247);

      padding: 20px;

      > .product {
        width: 400px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 12px;
        overflow: hidden;

        .heading-row {
          display: flex;
          gap: 4px;

          .price {
            font-size: 20px;
          }
        }

        .head-text {
          > h2 {
            text-transform: uppercase;
            color: var(--black);
          }

          > p {
            color: var(--text);
          }
        }

        > img {
          width: 100%;
        }

        .bottom-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > span {
            border: 1px solid var(--text);
            padding: 8px 12px;
            border-radius: 30px;
            color: var(--text);
            text-transform: uppercase;
          }

          > a {
            text-decoration: none;
            color: var(--text);
            text-transform: uppercase;
          }
        }
        .btns {
          width: 100%;
          height: 100px;
          background-color: rgb(255, 255, 255);
          position: absolute;
          left: 0;
          bottom: -40%;
          transition: all ease 0.3s;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 12px;
          align-items: center;
          gap: 0.8vw;
          a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--text);
          }

          > a:nth-child(1) {
            height: 45px;
            background-color: var(--red);
            color: white;
            border-radius: 4px;
          }

          a:nth-child(2) {
            height: 45px;
            background-color: var(--gray);
            border-radius: 20px;
          }
        }
      }

      .product:hover {
        .btns {
          bottom: 0;
        }
      }
    }
  }
}

.products {
  width: 100%;
  height: 100vh;

  > .row {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: top;

    > .img-container {
      width: 25%;
      height: 100%;
      transition: all ease 0.3s;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.322);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }

    .img-container:hover {
      width: 35%;
    }
  }

  > .row:hover {
    > .img-container {
      .overlay {
        opacity: 100;
      }
    }

    .img-container:hover {
      width: 35%;

      >.overlay{
        opacity: 0;
      }
    }
  }
}
